.files {
  padding-left: 10px;
}

.codeButtons {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-control {
  max-width: 500px;
}

.text {
  min-width: 500px !important;
  display: block;
}

.editor {
  height: 90vh !important;
  width: 100%;
}

.editorResult {
  height: 200px !important;
  width: 100%;
}

.card {
  white-space: pre-line !important;
}

.codeRun {
  font-size: 14px !important;
  padding: .75rem 1.25rem;

}

.serviceOk {
  font-size: 14px;
  color: #0b51c5;
  display: block;
  white-space: pre-line;
}

.runTimeout {
  padding: .75rem 1.25rem;
  font-size: 12px;
  color: #9d1e15;
  display: block;
  white-space: pre-line;
}

.queuePosition {
  padding: .75rem 1.25rem;
  font-size: 12px;
  color: #28a745;
  display: block;
  white-space: pre-line;
}

.selection {
  color: #0a0a0a;
  font-size: 14px;
}

/deep/ .mat-select-panel {
  background-color: #007bff;
  color: #0a0a0a;

}

/deep/ .mat-form-field-infix{
  background-color: #fff;
}

/deep/ .mat-select{
  background-color: #fff;
  border: 1px solid #cbcbcb;
}

/deep/ .mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value {
  color: #0a0a0a;
}

/deep/ .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #fff;
}

/deep/ .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fff;
}

.md-fab-bottom-right{
  position: fixed !important;
  right: 100px; /* Add this and change value to set the margin you want */
  bottom: 10px;
  z-index: 9999;
}